h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

h2 {
    color: white;
    text-transform: uppercase;
}

.folder {
    width: 20%;
    padding: 20px 10px;
}

.red-folder {
    background-color: red;
}

.yellow-folder {
    background-color: yellow;
}

.green-folder {
    background-color: green;
}

.material-icons {
    color: white;
}